<header class="text-center">
  <h2><%= @genre.name %> Comics</h2>
</header>

<div class='row text-center'>
  <%= will_paginate @issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class="list-unstyled">
      <% @issues.each do |issue| %>
        <div class="col-sm-3">
          <%= link_to (image_tag("#{issue.cover}", :class => "img-thumbnail", :id => "cover")), title_issue_page_path(issue.title, issue, issue.pages.first) %>
          <li><%= link_to "#{issue.title.name} ##{issue.number}", title_issue_page_path(issue.title, issue, issue.pages.first), :class => "text-center" %></li>

          <%= link_to "#{issue.title.genre.name}", genre_path(issue.title.genre), :class => "label label-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>






