<div class="row">
  <div class="col-md-4">
    <p class="subtext">
      <%= link_to comment.user.username, user_path(comment.user) %>
      <span id="comment-<%= comment.id %>-votes-num">
        <%= pluralize((comment.cached_weighted_score), 'point', 'points') %>
      </span>
      <%= comment.sliced_time_ago %> ago
      <%= comment.edited_star %>

      <% if comment.user == current_user %>
        <%= link_to "edit", edit_comment_path(comment), :id => "edit-link-#{comment.id}", :remote => true %>
        <%= link_to 'delete', comment_path(comment),
                    data: { :confirm => 'Are you sure?' }, :method => :delete %>
      <% end %>

      <% unless comment.user == current_user %>
        <%= render :partial => 'votes/vote_system', :locals => {:comment => comment, :page => @page} %>
      <% end %>
    </p>

    <div class="well well-md" id="comment-<%= comment.id %>-body">
      <%= comment.body %>
    </div>

    <% if current_user %>
      <%= link_to "Reply", new_comment_comment_path(:comment_id => comment), :id => "reply-link-#{comment.id}", :class => "btn btn-sm btn-default", :remote => true %>
    <% end %>
  </div>
</div>

<br>

<% comment.sorted_children.each do |child| %>
  <% if child.has_children? == false %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
  <% if child.has_children? == true %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
<% end %>
