<div class="row">
  <div class="col-md-4">
    <p class="subtext"><%= link_to comment.user.username, "#" %> • <%= time_ago_in_words(comment.created_at) %> ago</p>
    <div class="well well-md">
      <%= comment.body %>
    </div>
  </div>
</div>

<% comment.children.each do |i| %>
  <% if i.has_children? == false %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
  <% if i.has_children? == true %>
    <div class="nested_comments"> <%= render i %></div>
  <% end %>
<% end %>
