<p>
  <%= form_for([@parent_comment, @comment]) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, :rows => "5", :cols => "50", :id => "comment-#{@parent_comment.id}-comment-body" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.button "Confirm", class: "btn btn-sm btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
      <%= button_tag "Cancel", :class => "btn btn-sm btn-default", :id => "cancel-reply-link-#{@comment.id}", :type => "button" %>
    </div>
  <% end %>
</p>

<script type="text/javascript">
  $( "#cancel-reply-link-<%= @comment.id %>" ).click(function() {
    $(this).parent().parent().hide();
    $('#reply-link-<%= @parent_comment.id %>').show();
  });
</script>
