<div class="row">
  <div class="col-md-4">
    <p class="subtext"><%= link_to comment.user.username, user_path(comment.user) %> <span id="comment-<%= comment.id %>-votes-num"><%= pluralize((comment.get_upvotes.size - comment.get_downvotes.size), 'point', 'points') %></span> <%= comment.sliced_time_ago %> ago</p>
    <div class="well well-md">
      <%= comment.body %>
    </div>
    <%= render :partial => 'votes/vote_system', :locals => {:comment => comment, :page => @page} %>
    •
    <%= link_to "reply", new_comment_comment_path(:comment_id => comment), :id => "reply-link-#{comment.id}", :remote => true %>
  </div>
</div>

<BR>

<% comment.children.each do |child| %>
  <% if child.has_children? == false %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
  <% if child.has_children? == true %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
<% end %>
