<div class="row">
  <div class="col-md-4">
    <p class="subtext"><%= link_to comment.user.username, user_path(comment.user) %> • <%= time_ago_in_words(comment.created_at) %> ago</p>
    <div class="well well-md">
      <%= comment.body %>
    </div>
    <p><%= link_to "reply", new_comment_comment_path(:comment_id => comment), :id => "reply-link-#{comment.id}", :remote => true %></p>
  </div>
</div>

<BR>

<% comment.children.each do |child| %>
  <% if child.has_children? == false %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
  <% if child.has_children? == true %>
    <div class="nested_comments"> <%= render child %></div>
  <% end %>
<% end %>
