<%= form_for(@comment) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, :rows => "6", :cols => "60" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.button "Confirm", class: "btn btn-sm btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
    <%= button_tag "Cancel", :class => "btn btn-sm btn-default", :id => "cancel-edit-link-#{@comment.id}", :type => "button" %>
  </div>
<% end %>

<script type="text/javascript">
  $( "#cancel-edit-link-<%= @comment.id %>" ).click(function() {
    $(this).parent().parent().hide();
    $('#comment-<%= @comment.id %>-body').show();
    $('#edit-link-<%= @comment.id %>').show();
    $('#reply-link-<%= @comment.id %>').show();
  });
</script>
