<div class="text-center">
  <% if @issues.count == 0 %>
    <h3>You havent uploaded any issues yet.</h3>
  <% else %>
    <h3><%= current_user.username %>'s issues</h3>
  <% end %>
</div>

<div class='row text-center' id="paginate-one">
  <%= will_paginate @issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class="list-unstyled">
      <% @issues.each do |issue| %>
        <div class="col-sm-3">
          <% if issue.pages.count == 0 %>
            <%= image_tag("/assets/no_pages.png", :class => "img-thumbnail", :id => "thumbnail") %>
            <li><%= "#{issue.title.name} ##{issue.number}" %></li>
          <% else %>
            <%= link_to (image_tag("#{issue.pages.first.image.url}", :class => "img-thumbnail", :id => "thumbnail")), issue_page_path(issue, issue.pages.first) %>
            <li><%= link_to "#{issue.title.name} ##{issue.number}", issue_page_path(issue, issue.pages.first), :class => "text-center" %></li>
          <% end %>

          <li class="subtext">submitted by <%= link_to issue.user.username, user_path(issue.user) %></li>

          <% if current_user.try(:admin?) %>
            <% if issue.approved == 0 %>
              <i class="subtext">unapproved</i><br>

            <% else %>
              <i class="subtext">approved</i><br>

            <% end %>

            <%= link_to issue_path(issue, :kind => "approve"), :class => "btn btn-xs btn-success", :method => :patch do %>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>

            <%= link_to issue_path(issue, :kind => "unapprove"), :class => "btn btn-xs btn-warning", :method => :patch do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>

            <%= link_to new_issue_page_path(issue), :class => "btn btn-xs btn-info" do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          <% end %>

          <%= link_to issue_path(issue), :class => "btn btn-xs btn-danger", data: { :confirm => 'Are you sure?' }, :method => :delete do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class='row text-center' id="paginate-two">
  <%= will_paginate @issues %>
</div>
