<div class="row">
  <div class="col-md-12">
    <h2>New Issue</h2>
    <p class="subtext">Each page will be numbered in the order they're uploaded in so you can save yourself some time if they're already in the proper order.</p>
    <p class="subtext">Also, be aware that it can take a few minutes if you're uploading many images at once.</p>
    <br>

    <%= form_for @issue, :html => { :multipart => true } do |f| %>

      <div class="form-group">
        <%= f.label :pages %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>

      <br>

      <div class="form-group">
        <%= label_tag :title, "Title" %><br>
        <%= text_field_tag :title_name, params[:title], data: { autocomplete_source: titles_path } %>
      </div>

      <br>

      <div class="form-group">
        <%= f.label :number, "Issue Number" %><br>
        <%= f.text_field :number %>
      </div>

      <br>

      <div class="form-group">
        <%= label_tag :genre, "Genre" %><br>
        <%= text_field_tag :title_genre_name, params[:genre], data: { autocomplete_source: genres_path } %>
      </div>

      <br>

      <div class="form-group">
        <%= f.button "Submit Issue", class: "btn btn-sm btn-default", id: "submit-issue", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
      </div>
    <% end %>
  </div>
</div>
