<div class="row">
  <div class="col-md-3">
    <h2>New Issue</h2>
    <br>

    <%= form_for(@issue, :multipart => true) do |f| %>
      <div class="form-group">
        <%= label_tag :title, "Title" %><br>
        <%= text_field_tag :title_name, params[:title], data: { autocomplete_source: titles_path } %>
      </div>

      <br>

      <div class="form-group">
        <%= f.label :number, "Issue Number" %><br>
        <%= f.text_field :number %>
      </div>

      <br>

      <div class="form-group">
        <%= f.label :cover, "Cover" %><br>
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-default btn-file">
              Browse Files <%= f.file_field :cover %>
            </span>
          </span>
          <input type="text" class="form-control" readonly>
        </div>
      </div>

      <br>

      <div class="form-group">
        <%= f.button "Submit Issue", class: "btn btn-sm btn-default", id: "submit-issue", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
      </div>
    <% end %>
  </div>
</div>
