<div class="row">
  <div class="col-md-3">
    <h2>New Issue</h2>
    <br>

    <%= form_for(@issue) do |f| %>
      <div class="form-group" id="title-form-group">
        <%= f.label :title, "Title" %>
        <%= collection_select(:title, :id, Title.order(:name), :id, :name, { :prompt => "Select a title" }, { :class => 'form-control', :id => 'titles-collection' }) %>

        <h5 id="new-issue-or">or</h5>

        <%= f.text_field :title_name, :placeholder => "New title", data: { autocomplete_source: titles_path } %>
      </div>

      <br>

      <div class="form-group">
        <%= f.button "Submit", class: "btn btn-sm btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
      </div>
    <% end %>

  </div>
</div>
