<div class="row">
  <div class="col-md-12">
    <%= image_tag @user.avatar.url(:profile), :class => "thumbnail" %>
    <h3><%= @user.username %></h3>
    <h6>Joined: <%= time_ago_in_words(@user.created_at) %> ago</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <% if @user == current_user %>
      <p><%= link_to "Customize or cancel your account", edit_user_registration_path %></p>
      <hr>
      <%= render "/users/avatar_form" %>
      <br>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Issues</h3>
  </div>
</div>

<div class='row text-center' id="paginate-one">
  <%= will_paginate @paginated_issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class="list-unstyled">
      <% @paginated_issues.each do |issue| %>
        <div class="col-sm-3">
          <% if issue.pages.count == 0 %>
            <%= image_tag("/assets/no_pages.png", :class => "img-thumbnail", :id => "thumbnail") %>
            <li><%= "#{issue.title.name} ##{issue.number}" %></li>
          <% else %>
            <%= link_to (image_tag("#{issue.pages.first.image.url}", :class => "img-thumbnail", :id => "thumbnail")), issue_page_path(issue, issue.pages.first) %>
            <li><%= link_to "#{issue.title.name} ##{issue.number}", issue_page_path(issue, issue.pages.first), :class => "text-center" %></li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class='row text-center' id="paginate-two">
  <%= will_paginate @paginated_issues %>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Comments</h3>
  </div>
</div>

<div class="row">
  <div id="comments-div" class="">
    <%= pluralize(@user.comments.size, 'Comment', 'Comments') %>
  </div>

  <br>

  <% @user.comments.each do |comment| %>
    <% if comment.parent_id == nil %>
      <%= render comment %>
    <% end %>
  <% end %>

</div>




