<div class="row">
  <div class="col-md-12">
    <%= image_tag @user.avatar.url(:profile), :class => "thumbnail" %>
    <h3><%= @user.username %></h3>
    <h5>Joined: <%= time_ago_in_words(@user.created_at) %> ago</h5>
    <h5>Comics uploaded: <%= @user.issues.size %></h5>
    <h5>Comment score: <%= @user.score %></h5>
    <h5>Comments posted: <%= @user.comments.size %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <% if @user == current_user %>
      <p><%= link_to "Customize or cancel your account", edit_user_registration_path %></p>
      <hr>
      <%= render "/users/avatar_form" %>
      <br>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Comments</h3>
    <% if @user.comments.count == 0 %>
      <p class="subtext"><%= @user.username %> hasn't posted any comments yet.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <br>
  <% @user.comments.each do |comment| %>
    <%= render comment %>
    <script type="text/javascript">
      $('#comment-<%= comment.id %>-controls').append('(<%= link_to "full comments", issue_page_path(comment.commentable, comment.commentable.pages.first) %>)')
    </script>
    <br>
  <% end %>


</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Comics</h3>
    <% if @user.issues.count == 0 %>
      <p class="subtext"><%= @user.username %> hasn't uploaded any comics yet.</p>
    <% end %>
  </div>
</div>

<div class='row text-center' id="paginate-one">
  <%= will_paginate @paginated_issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class="list-unstyled">
      <% @paginated_issues.each do |issue| %>
        <div class="col-sm-3">
          <% if issue.pages.count == 0 %>
            <%= image_tag("/assets/no_pages.png", :class => "img-thumbnail", :id => "thumbnail") %>
            <li><%= "#{issue.title.name} ##{issue.number}" %></li>
          <% else %>
            <%= link_to (image_tag("#{issue.pages.first.image.url}", :class => "img-thumbnail", :id => "thumbnail")), issue_page_path(issue, issue.pages.first) %>
            <li><%= link_to "#{issue.title.name} ##{issue.number}", issue_page_path(issue, issue.pages.first), :class => "text-center" %></li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class='row text-center' id="paginate-two">
  <%= will_paginate @paginated_issues %>
</div>
