<div class="row">
  <div class="col-md-12">
    <h2><%= @issue.title.name %> #<%= @issue.number %></h2>
    <p class="subtext">submitted by <%= link_to @issue.user.username, user_path(@issue.user) %></p>
    <% if @issue.approved == 0 %>
      <p>This issue has not yet been approved.</p>
    <% elsif @issue.approved == 1 %>
      <p class="subtext">This issue has been approved and can be seen publicly <%= link_to "here", issue_page_path(@issue, @issue.pages.first) %></p>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <h4>Add pages</h4><br>
    <%= render "form" %>
  </div>
</div>

<hr>

<h4>Current pages</h4><br>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class='list-unstyled'>
      <% @issue.pages.each do |page| %>
      <div class="col-sm-3">
        <%= image_tag("#{page.image}", :class => "img-thumbnail thumbnail-#{page.number}", :id => "thumbnail") %>
        <li><%= page.number %></li>
        <%= link_to page_path(page.id), :class => "btn btn-xs btn-danger", data: { :confirm => 'Are you sure?' }, :method => :delete do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
      <% end %>
    </ul>
  </div>
</div>
