<div class="row">
  <div class="col-md-6">
    <h2>New page for <%= @issue.title.name %> #<%= @issue.number %></h2>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render "form" %>
  </div>
</div>

<hr>

<h2>Current pages</h2><br>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class='list-unstyled'>
      <% @issue.pages.each do |page| %>
      <div class="col-sm-3">
        <%= image_tag("#{page.image}", :class => "img-thumbnail thumbnail-#{page.number}", :id => "thumbnail") %>
        <li><%= page.number %></li>
        <%= link_to page_path(page.id), :class => "btn btn-xs btn-danger", data: { :confirm => 'Are you sure?' }, :method => :delete do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
      <% end %>
    </ul>
  </div>
</div>
