<div class='row'>
  <ol class='breadcrumb'>
    <li><%= link_to "Home", root_url %></li>
    <li class="active">Page <%= @page.number %></li>
  </ol>
</div>


<header class="page-header text-center">
  <h2><%= @page.issue.title.name %> # <%= @page.issue.number %></h2>
</header>

<div class="row text-center">
  <% if @page.number > 1 %>
    <div class="col-sm-6">
      <p><%= link_to "Previous Page", title_issue_page_path(@title, @issue, @page.id-1), data: { keybinding: "left" } %></p>
    </div>

    <% if @page === @issue.pages.last %>
      <div class="col-sm-6">

      </div>
    <% else %>
      <div class="col-sm-6">
        <p><%= link_to "Next Page", title_issue_page_path(@title, @issue, @page.id+1), data: { keybinding: "right" } %></p>
      </div>
    <% end %>

  <% else %>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
      <p><%= link_to "Next Page", title_issue_page_path(@title, @issue, @page.id+1), data: { keybinding: "right" } %></p>
    </div>
  <% end %>
</div>

<div class="row text-center">
  <div class='col-sm-12'>
    <%= image_tag(@page.image) %>
  </div>
</div>





