<div class="row">
  <div class="col-md-12 text-center">
    <h3 id="page-title"><%= @page.issue.title.name %> # <%= @page.issue.number %></h3>
    <h3><%= render('comic_nav') %></h3>
    Tip: you can use the arrow keys on your keyboard to switch pages.
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center">
    <% if @page != @page.issue.pages.last %>
      <%= link_to (image_tag(@page.image)), issue_page_path(@issue, @page.number+1), :id => "image-id-#{@page.id}" %>
    <% else %>
      <%= image_tag @page.image %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div id="comments-div" class="text-center">
    <p><%= pluralize(@page.issue.comments.count, 'Comment', 'Comments') %></p>
    <%= render "/comments/issue_comment_form" %>
  </div>

  <br>

  <%= render @page.issue.root_comments.order(:cached_weighted_score => :desc)%>
</div>
