<div class='row'>
  <ol class='breadcrumb'>
    <li><%= link_to "Home", root_url %></li>
    <li class="active"><%= @page.issue.title.name %> # <%= @page.issue.number %></li>
  </ol>
</div>


<div class="page-header text-center">
  <h2><%= @page.issue.title.name %> # <%= @page.issue.number %></h2>
</div>


<div class="row text-center">
  <div class='col-sm-12'>
    <%= image_tag(@page.image) %>
  </div>
</div>
