<header class="text-center" id="page-counter">
  <h2><%= @page.issue.title.name %> # <%= @page.issue.number %></h2>
</header>

<div class="row">
  <div class="col-md-7 text-right">
    <% if @page != @page.issue.pages.last %>
      <%= link_to (image_tag(@page.image)), issue_page_path(@issue, @page.id+1) %>
    <% else %>
      <%= image_tag @page.image %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= render('comic_nav') %>
  </div>
</div>
