<div class="row">
  <div class="col-md-12 text-center">
    <h3 id="page-title"><%= @page.issue.title.name %> # <%= @page.issue.number %></h3>


    <h3><%= render('comic_nav') %></h3>
    </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 text-center">
    <% if @page != @page.issue.pages.last %>
      <%= link_to (image_tag(@page.image)), issue_page_path(@issue, @page.id+1) %>
    <% else %>
      <%= image_tag @page.image %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-1">
    <p><%= @page.issue.comments.count %> comments</p>

    <%= render "/pages/comment_form", object: @page.issue, object: @comment %>

    <ol>
      <%= render @page.issue.root_comments %>
    </ol>
  </div>
</div>
