<div class='row text-center' id="paginate-one">
  <%= will_paginate @issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <% if @issues.count == 0 %>
      <h3>Sorry, we haven't got any comics by that name.</h3>
    <% end %>

    <ul class="list-unstyled">
      <% @issues.each do |issue| %>
        <div class="col-sm-3">
          <%= link_to (image_tag("#{issue.pages.first.image.url}", :class => "img-thumbnail", :id => "thumbnail")), issue_page_path(issue, issue.pages.first) %>
          <li><%= link_to "#{issue.title.name} ##{issue.number}", issue_page_path(issue, issue.pages.first), :class => "text-center" %></li>
          <li class="subtext">posted by <%= link_to issue.user.username, user_path(issue.user) %> about <%= issue.sliced_time %> ago</li>
          <i class="subtext">
            (<%= issue.comments.count %> comments)
          </i>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class='row text-center' id="paginate-two">
  <%= will_paginate @issues %>
</div>
