<div class='row text-center'>
  <%= will_paginate @issues %>
</div>

<div class='row text-center'>
  <div class='col-sm-12'>
    <ul class="list-unstyled">
      <% @issues.each do |issue| %>
        <div class="col-sm-3">
          <%= image_tag("#{issue.cover}", :class => "img-thumbnail", :id => "cover") %>
          <li><%= link_to "#{issue.title.name} ##{issue.number}", issue_page_path(issue, issue.pages.first), :class => "text-center" %></li>

          <%= link_to "#{issue.title.genre.name}", genre_path(issue.title.genre), :class => "label label-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class='row text-center'>
  <%= will_paginate @issues %>
</div>

