<!DOCTYPE html>
<html>
<head>
  <title>PublicComics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div class="row">
      <h1>Public Comics</h1>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div class="page-footer">
      <hr>
      <p class="pull-right">
        <%= link_to "Future Link" %>
      </p>
    </div>
  </div>

</body>
</html>
