<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PublicComics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h1><%= link_to "Public Comics", root_url %></h1>
        <p>Read comicbooks from the public domain</p>
      </div>

      <div class="col-s-6 pull-right search-bar">
        <p><%= form_tag titles_path, :method => 'get' do  %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
        <% end %></p>

        <span class="pull-right"><%= form_tag genre_path(99), :method => :get do %>
          <%= collection_select(:genre, :id, Genre.all, :id, :name, {:prompt => "Browse By Genre"}) %>
          <%= submit_tag("Select", :class => "btn btn-primary") %>
        <% end %></span>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div class="page-footer">
      <hr>
    </div>
  </div>
</body>
</html>

