<!DOCTYPE html>
<html>
<head>
  <title>PublicComics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">


    <h1><%= link_to "Public Comics", root_url %></h1>

    <%= form_tag titles_path, :method => 'get' do  %>
      <p>Read comicbooks from the public domain
        <span class="pull-right">
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </span>
      </p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
